:root {
    --hourDeg: 0deg;
    --minuteDeg: 0deg;
    --secondDeg: 0deg;
  }

body , html{
    margin: 0;
    height: 100vh;
}

.watch{
    height: 100%;
    width: 100vh;
    margin: auto;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: red; */
    background-image: url("1x/watch.png");
    position: relative;
    overflow: hidden;
    filter: drop-shadow(1px  1px 2px black);
}

.hour , .hour-shadow{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    background-image: url("1x/hour.png");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 990ms cubic-bezier(.23,.12,.58,1.86);
}

.minute , .minute-shadow{
    width: 100%;
    height: 100%;
    background-size: contain;
    /* background-color: yellow; */
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("1x/minute.png");
    transition: transform 990ms cubic-bezier(.23,.12,.58,1.86);
}

.second , .second-shadow{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("1x/second.png");
    transition: transform 990ms cubic-bezier(.23,.12,.58,1.86);
}

.hour-container{
    width: 10%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(var(--hourDeg)) translate(0 , -27%);
    transition: transform 990ms cubic-bezier(.23,.12,.58,1.86);
}

.minute-container{
    width: 6%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(var(--minuteDeg)) translate(0 , -22.5%);
    transition: transform 990ms cubic-bezier(.23,.12,.58,1.86);
}

.second-container {
    width: 3%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(var(--secondDeg)) translate(0 , -25.4%);
    transition: transform 990ms cubic-bezier(.23,.12,.58,1.86);
}

.hour-shadow{
    transform-origin: 50% 76%;
    transform:  rotate(5deg) ;
    filter: blur(0.5px) opacity(0.5) brightness(0);
    z-index: -1;
}

.minute-shadow{
    transform-origin: 50% 72%;
    transform:  rotate(5deg) ;
    filter: blur(0.5px) opacity(0.5) brightness(0);
    z-index: -1;
}

.second-shadow{
    transform-origin: 50% 75%;
    transform:  rotate(5deg) ;
    filter: blur(0.5px) opacity(0.5) brightness(0);
    z-index: -1;
}